<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_item_Chuang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,955},{640,732}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,732}}</string>
                <key>sourceSize</key>
                <string>{640,732}</string>
            </dict>
            <key>ui_item_Chuang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,829},{640,775}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,50},{640,775}}</string>
                <key>sourceSize</key>
                <string>{640,825}</string>
            </dict>
            <key>ui_item_Chuang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,825}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,825}}</string>
                <key>sourceSize</key>
                <string>{640,825}</string>
            </dict>
            <key>ui_item_Chuang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,2},{640,763}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,62},{640,763}}</string>
                <key>sourceSize</key>
                <string>{640,825}</string>
            </dict>
            <key>ui_item_NaiZui_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,1597},{132,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,88}}</string>
                <key>sourceSize</key>
                <string>{132,88}</string>
            </dict>
            <key>ui_item_NaiZui_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,1606},{132,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,91}}</string>
                <key>sourceSize</key>
                <string>{132,91}</string>
            </dict>
            <key>ui_item_NaiZui_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,1597},{132,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,71}}</string>
                <key>sourceSize</key>
                <string>{132,71}</string>
            </dict>
            <key>ui_item_NaiZui_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,1597},{132,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,89}}</string>
                <key>sourceSize</key>
                <string>{132,89}</string>
            </dict>
            <key>ui_item_NaiZui_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,1597},{132,71}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,71}}</string>
                <key>sourceSize</key>
                <string>{132,75}</string>
            </dict>
            <key>ui_item_NiaoBu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,1597},{175,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,81}}</string>
                <key>sourceSize</key>
                <string>{175,81}</string>
            </dict>
            <key>ui_item_NiaoBu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1525,1589},{172,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,80}}</string>
                <key>sourceSize</key>
                <string>{172,80}</string>
            </dict>
            <key>ui_item_NiaoBu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1525,1507},{173,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,80}}</string>
                <key>sourceSize</key>
                <string>{173,80}</string>
            </dict>
            <key>ui_item_NiaoBu_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1525,1425},{173,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,80}}</string>
                <key>sourceSize</key>
                <string>{173,80}</string>
            </dict>
            <key>ui_item_NiaoBu_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,1597},{173,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,80}}</string>
                <key>sourceSize</key>
                <string>{173,80}</string>
            </dict>
            <key>ui_item_NiaoBu_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1153,1597},{173,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,80}}</string>
                <key>sourceSize</key>
                <string>{173,80}</string>
            </dict>
            <key>ui_item_WanJu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,1606},{109,181}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{109,181}}</string>
                <key>sourceSize</key>
                <string>{147,181}</string>
            </dict>
            <key>ui_item_WanJu_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1606},{125,179}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{125,179}}</string>
                <key>sourceSize</key>
                <string>{147,181}</string>
            </dict>
            <key>ui_item_WanJu_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,1606},{147,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,31},{147,119}}</string>
                <key>sourceSize</key>
                <string>{147,181}</string>
            </dict>
            <key>ui_item_WanJu_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1131,644},{147,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{147,171}}</string>
                <key>sourceSize</key>
                <string>{147,181}</string>
            </dict>
            <key>ui_item_Wanju_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,1425},{145,167}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{145,167}}</string>
                <key>sourceSize</key>
                <string>{147,181}</string>
            </dict>
            <key>ui_item_ZhenTou_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,644},{485,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{485,256}}</string>
                <key>sourceSize</key>
                <string>{485,256}</string>
            </dict>
            <key>ui_item_ZhenTou_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,480},{473,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{473,265}}</string>
                <key>sourceSize</key>
                <string>{473,265}</string>
            </dict>
            <key>ui_item_ZhenTou_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,2},{476,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{476,286}}</string>
                <key>sourceSize</key>
                <string>{476,286}</string>
            </dict>
            <key>ui_item_ZhenTou_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,955},{468,355}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{468,355}}</string>
                <key>sourceSize</key>
                <string>{468,355}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>babyroom.pvr.ccz</string>
            <key>size</key>
            <string>{1735,1735}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c4a10db2ee4f3a613ca97e4d013e1f3$</string>
            <key>textureFileName</key>
            <string>babyroom.pvr.ccz</string>
        </dict>
    </dict>
</plist>
