<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01man_arm_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,81},{107,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,78}}</string>
                <key>sourceSize</key>
                <string>{107,78}</string>
            </dict>
            <key>01man_arm_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,81},{107,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,77}}</string>
                <key>sourceSize</key>
                <string>{107,77}</string>
            </dict>
            <key>01man_bizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,2},{40,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{40,36}}</string>
                <key>sourceSize</key>
                <string>{42,38}</string>
            </dict>
            <key>01man_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,652},{170,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,189}}</string>
                <key>sourceSize</key>
                <string>{170,189}</string>
            </dict>
            <key>01man_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,401},{273,120}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{273,120}}</string>
                <key>sourceSize</key>
                <string>{275,122}</string>
            </dict>
            <key>01man_eye_fadou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,175},{268,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{268,110}}</string>
                <key>sourceSize</key>
                <string>{270,112}</string>
            </dict>
            <key>01man_eye_happy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,287},{286,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{286,112}}</string>
                <key>sourceSize</key>
                <string>{286,114}</string>
            </dict>
            <key>01man_eye_jingxia.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,175},{268,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{268,110}}</string>
                <key>sourceSize</key>
                <string>{270,112}</string>
            </dict>
            <key>01man_eye_sleep.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,175},{285,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{285,94}}</string>
                <key>sourceSize</key>
                <string>{287,94}</string>
            </dict>
            <key>01man_eye_yihuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,523},{279,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,123}}</string>
                <key>sourceSize</key>
                <string>{279,123}</string>
            </dict>
            <key>01man_face.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1056},{365,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{365,295}}</string>
                <key>sourceSize</key>
                <string>{365,295}</string>
            </dict>
            <key>01man_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,81},{109,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,88}}</string>
                <key>sourceSize</key>
                <string>{109,88}</string>
            </dict>
            <key>01man_mouth.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,2},{89,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,40}}</string>
                <key>sourceSize</key>
                <string>{89,40}</string>
            </dict>
            <key>01man_mouth_eat.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,843},{378,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{378,211}}</string>
                <key>sourceSize</key>
                <string>{378,213}</string>
            </dict>
            <key>01man_mouth_fadou.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,2},{93,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,31}}</string>
                <key>sourceSize</key>
                <string>{95,33}</string>
            </dict>
            <key>01man_mouth_happy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,2},{92,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{92,64}}</string>
                <key>sourceSize</key>
                <string>{94,66}</string>
            </dict>
            <key>01man_mouth_jingxia.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,2},{72,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{72,41}}</string>
                <key>sourceSize</key>
                <string>{74,43}</string>
            </dict>
            <key>01man_mouth_yihuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,2},{64,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{64,38}}</string>
                <key>sourceSize</key>
                <string>{66,38}</string>
            </dict>
            <key>01man_toufa.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,652},{183,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,127}}</string>
                <key>sourceSize</key>
                <string>{183,127}</string>
            </dict>
            <key>02man_arm_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,81},{107,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,78}}</string>
                <key>sourceSize</key>
                <string>{107,78}</string>
            </dict>
            <key>02man_arm_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,2},{107,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,77}}</string>
                <key>sourceSize</key>
                <string>{107,77}</string>
            </dict>
            <key>02man_bizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{40,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{40,36}}</string>
                <key>sourceSize</key>
                <string>{42,38}</string>
            </dict>
            <key>02man_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{1015,652},{170,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,189}}</string>
                <key>sourceSize</key>
                <string>{170,189}</string>
            </dict>
            <key>02man_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,401},{273,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{273,114}}</string>
                <key>sourceSize</key>
                <string>{275,122}</string>
            </dict>
            <key>02man_eye_fadou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,287},{268,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{268,110}}</string>
                <key>sourceSize</key>
                <string>{270,112}</string>
            </dict>
            <key>02man_eye_happy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,401},{286,112}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,112}}</string>
                <key>sourceSize</key>
                <string>{286,114}</string>
            </dict>
            <key>02man_eye_jingxia.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,287},{268,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{268,110}}</string>
                <key>sourceSize</key>
                <string>{270,112}</string>
            </dict>
            <key>02man_eye_sleep.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,175},{285,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{285,94}}</string>
                <key>sourceSize</key>
                <string>{287,94}</string>
            </dict>
            <key>02man_eye_yihuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,523},{273,123}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{273,123}}</string>
                <key>sourceSize</key>
                <string>{279,123}</string>
            </dict>
            <key>02man_face.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,1056},{365,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{365,295}}</string>
                <key>sourceSize</key>
                <string>{365,295}</string>
            </dict>
            <key>02man_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,81},{109,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,88}}</string>
                <key>sourceSize</key>
                <string>{109,88}</string>
            </dict>
            <key>02man_mouth.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,2},{89,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,40}}</string>
                <key>sourceSize</key>
                <string>{89,40}</string>
            </dict>
            <key>02man_mouth_eat.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,843},{378,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{378,211}}</string>
                <key>sourceSize</key>
                <string>{378,213}</string>
            </dict>
            <key>02man_mouth_fadou.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,2},{93,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,31}}</string>
                <key>sourceSize</key>
                <string>{95,33}</string>
            </dict>
            <key>02man_mouth_happy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,2},{92,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{92,64}}</string>
                <key>sourceSize</key>
                <string>{94,66}</string>
            </dict>
            <key>02man_mouth_jingxia.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,2},{72,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{72,41}}</string>
                <key>sourceSize</key>
                <string>{74,43}</string>
            </dict>
            <key>02man_mouth_yihuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,2},{64,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{64,36}}</string>
                <key>sourceSize</key>
                <string>{66,38}</string>
            </dict>
            <key>02man_toufa.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{183,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,127}}</string>
                <key>sourceSize</key>
                <string>{183,127}</string>
            </dict>
            <key>03man_arm_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,81},{107,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,78}}</string>
                <key>sourceSize</key>
                <string>{107,78}</string>
            </dict>
            <key>03man_arm_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,81},{107,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,77}}</string>
                <key>sourceSize</key>
                <string>{107,77}</string>
            </dict>
            <key>03man_bizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,2},{40,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{40,36}}</string>
                <key>sourceSize</key>
                <string>{42,38}</string>
            </dict>
            <key>03man_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,652},{170,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,189}}</string>
                <key>sourceSize</key>
                <string>{170,189}</string>
            </dict>
            <key>03man_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,401},{273,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{273,114}}</string>
                <key>sourceSize</key>
                <string>{275,122}</string>
            </dict>
            <key>03man_eye_fadou.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,287},{268,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{268,112}}</string>
                <key>sourceSize</key>
                <string>{270,112}</string>
            </dict>
            <key>03man_eye_happy.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,287},{284,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{284,112}}</string>
                <key>sourceSize</key>
                <string>{286,114}</string>
            </dict>
            <key>03man_eye_jingxia.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,175},{268,110}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{268,110}}</string>
                <key>sourceSize</key>
                <string>{270,112}</string>
            </dict>
            <key>03man_eye_sleep.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,81},{283,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{283,92}}</string>
                <key>sourceSize</key>
                <string>{287,94}</string>
            </dict>
            <key>03man_eye_yihuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,523},{275,123}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{275,123}}</string>
                <key>sourceSize</key>
                <string>{279,123}</string>
            </dict>
            <key>03man_face.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,1056},{365,295}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{365,295}}</string>
                <key>sourceSize</key>
                <string>{365,295}</string>
            </dict>
            <key>03man_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,81},{109,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,88}}</string>
                <key>sourceSize</key>
                <string>{109,88}</string>
            </dict>
            <key>03man_mouth.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,2},{89,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,40}}</string>
                <key>sourceSize</key>
                <string>{89,40}</string>
            </dict>
            <key>03man_mouth_eat.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,843},{378,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{378,211}}</string>
                <key>sourceSize</key>
                <string>{378,213}</string>
            </dict>
            <key>03man_mouth_fadou.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,2},{93,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,31}}</string>
                <key>sourceSize</key>
                <string>{95,33}</string>
            </dict>
            <key>03man_mouth_happy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,2},{92,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{92,64}}</string>
                <key>sourceSize</key>
                <string>{94,66}</string>
            </dict>
            <key>03man_mouth_jingxia.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,2},{72,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{72,41}}</string>
                <key>sourceSize</key>
                <string>{74,43}</string>
            </dict>
            <key>03man_mouth_yihuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,2},{64,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{64,38}}</string>
                <key>sourceSize</key>
                <string>{66,38}</string>
            </dict>
            <key>03man_toufa.png</key>
            <dict>
                <key>frame</key>
                <string>{{1119,523},{183,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,127}}</string>
                <key>sourceSize</key>
                <string>{183,127}</string>
            </dict>
            <key>hanzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,523},{282,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,121}}</string>
                <key>sourceSize</key>
                <string>{282,121}</string>
            </dict>
            <key>lianhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,652},{297,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{297,162}}</string>
                <key>sourceSize</key>
                <string>{297,164}</string>
            </dict>
            <key>man_zhiniaoku.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,81},{178,82}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{178,82}}</string>
                <key>sourceSize</key>
                <string>{178,116}</string>
            </dict>
            <key>yanlei_nei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{252,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,15}}</string>
                <key>sourceSize</key>
                <string>{252,15}</string>
            </dict>
            <key>yanlei_wai.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{253,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,22}}</string>
                <key>sourceSize</key>
                <string>{253,22}</string>
            </dict>
            <key>z.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,2},{40,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{40,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boy.pvr.ccz</string>
            <key>size</key>
            <string>{1386,1386}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:54ae87204b100f98e982f68e295f96f4$</string>
            <key>textureFileName</key>
            <string>boy.pvr.ccz</string>
        </dict>
    </dict>
</plist>
