<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01women_arm_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,54},{107,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,77}}</string>
                <key>sourceSize</key>
                <string>{107,77}</string>
            </dict>
            <key>01women_arm_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,54},{106,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,77}}</string>
                <key>sourceSize</key>
                <string>{106,77}</string>
            </dict>
            <key>01women_bizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,2},{40,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{40,37}}</string>
                <key>sourceSize</key>
                <string>{42,37}</string>
            </dict>
            <key>01women_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,650},{167,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,184}}</string>
                <key>sourceSize</key>
                <string>{167,184}</string>
            </dict>
            <key>01women_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,248},{274,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{274,112}}</string>
                <key>sourceSize</key>
                <string>{274,114}</string>
            </dict>
            <key>01women_eye_fadou.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,362},{273,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{273,119}}</string>
                <key>sourceSize</key>
                <string>{275,119}</string>
            </dict>
            <key>01women_eye_happy.png</key>
            <dict>
                <key>frame</key>
                <string>{{827,144},{274,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{274,102}}</string>
                <key>sourceSize</key>
                <string>{276,102}</string>
            </dict>
            <key>01women_eye_jingxia.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,362},{272,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{272,117}}</string>
                <key>sourceSize</key>
                <string>{274,119}</string>
            </dict>
            <key>01women_eye_sleep.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{273,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{273,96}}</string>
                <key>sourceSize</key>
                <string>{275,96}</string>
            </dict>
            <key>01women_eye_yihuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,362},{273,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{273,119}}</string>
                <key>sourceSize</key>
                <string>{275,119}</string>
            </dict>
            <key>01women_face.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,836},{349,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,297}}</string>
                <key>sourceSize</key>
                <string>{349,297}</string>
            </dict>
            <key>01women_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1087,54},{109,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,88}}</string>
                <key>sourceSize</key>
                <string>{109,88}</string>
            </dict>
            <key>01women_mouth.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,2},{61,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{61,32}}</string>
                <key>sourceSize</key>
                <string>{61,34}</string>
            </dict>
            <key>01women_mouth_eat.png</key>
            <dict>
                <key>frame</key>
                <string>{{1141,2},{85,47}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{85,47}}</string>
                <key>sourceSize</key>
                <string>{87,49}</string>
            </dict>
            <key>01women_mouth_fadou.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,2},{60,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{60,29}}</string>
                <key>sourceSize</key>
                <string>{62,31}</string>
            </dict>
            <key>01women_mouth_happy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{70,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{70,55}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>01women_mouth_jingxia.png</key>
            <dict>
                <key>frame</key>
                <string>{{1317,2},{64,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{64,50}}</string>
                <key>sourceSize</key>
                <string>{66,52}</string>
            </dict>
            <key>01women_mouth_yihuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,2},{63,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{63,37}}</string>
                <key>sourceSize</key>
                <string>{65,39}</string>
            </dict>
            <key>01women_toufa_hou.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,650},{327,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,165}}</string>
                <key>sourceSize</key>
                <string>{327,165}</string>
            </dict>
            <key>01women_toufa_qian.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1163},{342,327}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,327}}</string>
                <key>sourceSize</key>
                <string>{342,327}</string>
            </dict>
            <key>02women_arm_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,54},{107,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,77}}</string>
                <key>sourceSize</key>
                <string>{107,77}</string>
            </dict>
            <key>02women_arm_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,54},{106,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,77}}</string>
                <key>sourceSize</key>
                <string>{106,77}</string>
            </dict>
            <key>02women_bizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,2},{40,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{40,37}}</string>
                <key>sourceSize</key>
                <string>{42,37}</string>
            </dict>
            <key>02women_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,650},{167,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,184}}</string>
                <key>sourceSize</key>
                <string>{167,184}</string>
            </dict>
            <key>02women_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{274,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{274,112}}</string>
                <key>sourceSize</key>
                <string>{274,114}</string>
            </dict>
            <key>02women_eye_fadou.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,248},{273,111}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{273,111}}</string>
                <key>sourceSize</key>
                <string>{275,119}</string>
            </dict>
            <key>02women_eye_happy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1103,144},{274,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{274,102}}</string>
                <key>sourceSize</key>
                <string>{276,102}</string>
            </dict>
            <key>02women_eye_jingxia.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,362},{274,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{274,115}}</string>
                <key>sourceSize</key>
                <string>{274,119}</string>
            </dict>
            <key>02women_eye_sleep.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,144},{273,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{273,96}}</string>
                <key>sourceSize</key>
                <string>{275,96}</string>
            </dict>
            <key>02women_eye_yihuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,483},{273,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{273,119}}</string>
                <key>sourceSize</key>
                <string>{275,119}</string>
            </dict>
            <key>02women_face.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,836},{349,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,297}}</string>
                <key>sourceSize</key>
                <string>{349,297}</string>
            </dict>
            <key>02women_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,54},{109,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,88}}</string>
                <key>sourceSize</key>
                <string>{109,88}</string>
            </dict>
            <key>02women_mouth.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,2},{61,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{61,32}}</string>
                <key>sourceSize</key>
                <string>{61,34}</string>
            </dict>
            <key>02women_mouth_eat.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,2},{85,47}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{85,47}}</string>
                <key>sourceSize</key>
                <string>{87,49}</string>
            </dict>
            <key>02women_mouth_fadou.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,2},{60,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{60,29}}</string>
                <key>sourceSize</key>
                <string>{62,31}</string>
            </dict>
            <key>02women_mouth_happy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{70,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{70,55}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>02women_mouth_jingxia.png</key>
            <dict>
                <key>frame</key>
                <string>{{1317,2},{64,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{64,50}}</string>
                <key>sourceSize</key>
                <string>{66,52}</string>
            </dict>
            <key>02women_mouth_yihuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,2},{63,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{63,37}}</string>
                <key>sourceSize</key>
                <string>{65,39}</string>
            </dict>
            <key>02women_toufa_hou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,483},{327,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,165}}</string>
                <key>sourceSize</key>
                <string>{327,165}</string>
            </dict>
            <key>02women_toufa_qian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1055,836},{340,325}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{340,325}}</string>
                <key>sourceSize</key>
                <string>{342,327}</string>
            </dict>
            <key>03women_arm_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,54},{107,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,77}}</string>
                <key>sourceSize</key>
                <string>{107,77}</string>
            </dict>
            <key>03women_arm_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,54},{106,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,77}}</string>
                <key>sourceSize</key>
                <string>{106,77}</string>
            </dict>
            <key>03women_bizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,2},{40,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{40,37}}</string>
                <key>sourceSize</key>
                <string>{42,37}</string>
            </dict>
            <key>03women_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,650},{167,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,184}}</string>
                <key>sourceSize</key>
                <string>{167,184}</string>
            </dict>
            <key>03women_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,248},{274,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{274,112}}</string>
                <key>sourceSize</key>
                <string>{274,114}</string>
            </dict>
            <key>03women_eye_fadou.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,248},{273,111}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{273,111}}</string>
                <key>sourceSize</key>
                <string>{275,119}</string>
            </dict>
            <key>03women_eye_happy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{274,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{274,102}}</string>
                <key>sourceSize</key>
                <string>{276,102}</string>
            </dict>
            <key>03women_eye_jingxia.png</key>
            <dict>
                <key>frame</key>
                <string>{{1103,362},{274,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,119}}</string>
                <key>sourceSize</key>
                <string>{274,119}</string>
            </dict>
            <key>03women_eye_sleep.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,144},{273,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{273,96}}</string>
                <key>sourceSize</key>
                <string>{275,96}</string>
            </dict>
            <key>03women_eye_yihuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,483},{275,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,119}}</string>
                <key>sourceSize</key>
                <string>{275,119}</string>
            </dict>
            <key>03women_face.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,836},{349,297}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,297}}</string>
                <key>sourceSize</key>
                <string>{349,297}</string>
            </dict>
            <key>03women_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,54},{109,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,88}}</string>
                <key>sourceSize</key>
                <string>{109,88}</string>
            </dict>
            <key>03women_mouth.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,2},{61,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{61,32}}</string>
                <key>sourceSize</key>
                <string>{61,34}</string>
            </dict>
            <key>03women_mouth_eat.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,2},{87,47}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,47}}</string>
                <key>sourceSize</key>
                <string>{87,49}</string>
            </dict>
            <key>03women_mouth_fadou.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{60,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{60,29}}</string>
                <key>sourceSize</key>
                <string>{62,31}</string>
            </dict>
            <key>03women_mouth_happy.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,54},{70,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{70,55}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>03women_mouth_jingxia.png</key>
            <dict>
                <key>frame</key>
                <string>{{1383,2},{64,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{64,50}}</string>
                <key>sourceSize</key>
                <string>{66,52}</string>
            </dict>
            <key>03women_mouth_yihuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,2},{63,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{63,37}}</string>
                <key>sourceSize</key>
                <string>{65,39}</string>
            </dict>
            <key>03women_toufa_hou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{327,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,165}}</string>
                <key>sourceSize</key>
                <string>{327,165}</string>
            </dict>
            <key>03women_toufa_qian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1163},{342,327}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,327}}</string>
                <key>sourceSize</key>
                <string>{342,327}</string>
            </dict>
            <key>hanzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,483},{279,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,120}}</string>
                <key>sourceSize</key>
                <string>{279,120}</string>
            </dict>
            <key>lianhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,483},{297,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{297,162}}</string>
                <key>sourceSize</key>
                <string>{297,164}</string>
            </dict>
            <key>women_zhiniaoku.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,54},{177,83}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{177,83}}</string>
                <key>sourceSize</key>
                <string>{177,115}</string>
            </dict>
            <key>yanlei_nei.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{252,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,23}}</string>
                <key>sourceSize</key>
                <string>{252,23}</string>
            </dict>
            <key>yanlei_wai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{248,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,17}}</string>
                <key>sourceSize</key>
                <string>{248,17}</string>
            </dict>
            <key>z.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,2},{40,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{40,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>girl.pvr.ccz</string>
            <key>size</key>
            <string>{1492,1492}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:afdfb2346e1ebf35d1392d624664c13e$</string>
            <key>textureFileName</key>
            <string>girl.pvr.ccz</string>
        </dict>
    </dict>
</plist>
