<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_nan_MaoZi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1175},{355,207}}</string>
                <key>offset</key>
                <string>{-5,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,70},{355,207}}</string>
                <key>sourceSize</key>
                <string>{459,435}</string>
            </dict>
            <key>ui_nan_MaoZi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,494},{383,191}}</string>
                <key>offset</key>
                <string>{-6,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,99},{383,191}}</string>
                <key>sourceSize</key>
                <string>{459,435}</string>
            </dict>
            <key>ui_nan_MaoZi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,381},{383,387}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,18},{383,387}}</string>
                <key>sourceSize</key>
                <string>{459,435}</string>
            </dict>
            <key>ui_nan_MaoZi_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,2},{439,225}}</string>
                <key>offset</key>
                <string>{-3,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,42},{439,225}}</string>
                <key>sourceSize</key>
                <string>{459,435}</string>
            </dict>
            <key>ui_nan_MaoZi_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,291},{447,201}}</string>
                <key>offset</key>
                <string>{-6,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,62},{447,201}}</string>
                <key>sourceSize</key>
                <string>{459,435}</string>
            </dict>
            <key>ui_nan_Xie_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,1248},{55,82}}</string>
                <key>offset</key>
                <string>{-10,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,35},{55,82}}</string>
                <key>sourceSize</key>
                <string>{113,132}</string>
            </dict>
            <key>ui_nan_Xie_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1341,90},{49,84}}</string>
                <key>offset</key>
                <string>{-12,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,31},{49,84}}</string>
                <key>sourceSize</key>
                <string>{113,132}</string>
            </dict>
            <key>ui_nan_Xie_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,1179},{67,94}}</string>
                <key>offset</key>
                <string>{-7,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,30},{67,94}}</string>
                <key>sourceSize</key>
                <string>{113,132}</string>
            </dict>
            <key>ui_nan_Xie_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,1252},{61,92}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,23},{61,92}}</string>
                <key>sourceSize</key>
                <string>{113,132}</string>
            </dict>
            <key>ui_nan_Xie_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,1285},{67,100}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,32},{67,100}}</string>
                <key>sourceSize</key>
                <string>{113,132}</string>
            </dict>
            <key>ui_nv_MaoZi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,229},{381,235}}</string>
                <key>offset</key>
                <string>{-9,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,34},{381,235}}</string>
                <key>sourceSize</key>
                <string>{459,435}</string>
            </dict>
            <key>ui_nv_MaoZi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{403,287}}</string>
                <key>offset</key>
                <string>{-7,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,0},{403,287}}</string>
                <key>sourceSize</key>
                <string>{459,435}</string>
            </dict>
            <key>ui_nv_MaoZi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{447,377}}</string>
                <key>offset</key>
                <string>{-5,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,50},{447,377}}</string>
                <key>sourceSize</key>
                <string>{459,435}</string>
            </dict>
            <key>ui_nv_MaoZi_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,2},{447,287}}</string>
                <key>offset</key>
                <string>{6,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{447,287}}</string>
                <key>sourceSize</key>
                <string>{459,435}</string>
            </dict>
            <key>ui_nv_MaoZi_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,770},{315,165}}</string>
                <key>offset</key>
                <string>{-6,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,77},{315,165}}</string>
                <key>sourceSize</key>
                <string>{459,435}</string>
            </dict>
            <key>ui_nv_Xie_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1341,2},{49,86}}</string>
                <key>offset</key>
                <string>{-16,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,32},{49,86}}</string>
                <key>sourceSize</key>
                <string>{113,132}</string>
            </dict>
            <key>ui_nv_Xie_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,1087},{83,90}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,28},{83,90}}</string>
                <key>sourceSize</key>
                <string>{113,132}</string>
            </dict>
            <key>ui_nv_Xie_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,1087},{75,92}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,29},{75,92}}</string>
                <key>sourceSize</key>
                <string>{113,132}</string>
            </dict>
            <key>ui_nv_Xie_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,381},{61,110}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{61,110}}</string>
                <key>sourceSize</key>
                <string>{113,132}</string>
            </dict>
            <key>ui_nv_Xie_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1343,669},{47,82}}</string>
                <key>offset</key>
                <string>{-11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,31},{47,82}}</string>
                <key>sourceSize</key>
                <string>{113,132}</string>
            </dict>
            <key>yifu_nan_shenti_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,494},{193,183}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,13},{193,183}}</string>
                <key>sourceSize</key>
                <string>{297,231}</string>
            </dict>
            <key>yifu_nan_shenti_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,466},{201,183}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,12},{201,183}}</string>
                <key>sourceSize</key>
                <string>{297,231}</string>
            </dict>
            <key>yifu_nan_shenti_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,888},{219,185}}</string>
                <key>offset</key>
                <string>{-12,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,12},{219,185}}</string>
                <key>sourceSize</key>
                <string>{297,231}</string>
            </dict>
            <key>yifu_nan_shenti_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,888},{225,183}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,14},{225,183}}</string>
                <key>sourceSize</key>
                <string>{297,231}</string>
            </dict>
            <key>yifu_nan_shenti_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,669},{185,179}}</string>
                <key>offset</key>
                <string>{1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,15},{185,179}}</string>
                <key>sourceSize</key>
                <string>{297,231}</string>
            </dict>
            <key>yifu_nan_youku_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,1075},{114,104}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,5},{114,104}}</string>
                <key>sourceSize</key>
                <string>{150,124}</string>
            </dict>
            <key>yifu_nan_youku_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,1073},{106,90}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,17},{106,90}}</string>
                <key>sourceSize</key>
                <string>{150,124}</string>
            </dict>
            <key>yifu_nan_youku_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,1075},{112,102}}</string>
                <key>offset</key>
                <string>{10,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,5},{112,102}}</string>
                <key>sourceSize</key>
                <string>{150,124}</string>
            </dict>
            <key>yifu_nan_youku_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,1181},{104,96}}</string>
                <key>offset</key>
                <string>{17,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,17},{104,96}}</string>
                <key>sourceSize</key>
                <string>{150,124}</string>
            </dict>
            <key>yifu_nan_youku_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,972},{126,106}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,3},{126,106}}</string>
                <key>sourceSize</key>
                <string>{150,124}</string>
            </dict>
            <key>yifu_nan_youxiu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,1181},{87,69}}</string>
                <key>offset</key>
                <string>{-38,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,47},{87,69}}</string>
                <key>sourceSize</key>
                <string>{197,127}</string>
            </dict>
            <key>yifu_nan_youxiu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,1252},{99,61}}</string>
                <key>offset</key>
                <string>{-42,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,51},{99,61}}</string>
                <key>sourceSize</key>
                <string>{197,127}</string>
            </dict>
            <key>yifu_nan_youxiu_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,1276},{83,69}}</string>
                <key>offset</key>
                <string>{-38,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,48},{83,69}}</string>
                <key>sourceSize</key>
                <string>{197,127}</string>
            </dict>
            <key>yifu_nan_youxiu_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1093,854},{181,109}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{181,109}}</string>
                <key>sourceSize</key>
                <string>{197,127}</string>
            </dict>
            <key>yifu_nan_youxiu_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,1315},{91,71}}</string>
                <key>offset</key>
                <string>{-41,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,50},{91,71}}</string>
                <key>sourceSize</key>
                <string>{197,127}</string>
            </dict>
            <key>yifu_nan_zuoku_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,1181},{120,98}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,11},{120,98}}</string>
                <key>sourceSize</key>
                <string>{146,128}</string>
            </dict>
            <key>yifu_nan_zuoku_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,1075},{102,94}}</string>
                <key>offset</key>
                <string>{-16,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,13},{102,94}}</string>
                <key>sourceSize</key>
                <string>{146,128}</string>
            </dict>
            <key>yifu_nan_zuoku_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,1080},{116,98}}</string>
                <key>offset</key>
                <string>{-8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{116,98}}</string>
                <key>sourceSize</key>
                <string>{146,128}</string>
            </dict>
            <key>yifu_nan_zuoku_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,1080},{94,108}}</string>
                <key>offset</key>
                <string>{-14,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{94,108}}</string>
                <key>sourceSize</key>
                <string>{146,128}</string>
            </dict>
            <key>yifu_nan_zuoku_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,1075},{116,104}}</string>
                <key>offset</key>
                <string>{-8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{116,104}}</string>
                <key>sourceSize</key>
                <string>{146,128}</string>
            </dict>
            <key>yifu_nan_zuoxiu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1303},{87,70}}</string>
                <key>offset</key>
                <string>{18,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,27},{87,70}}</string>
                <key>sourceSize</key>
                <string>{143,108}</string>
            </dict>
            <key>yifu_nan_zuoxiu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,850},{95,58}}</string>
                <key>offset</key>
                <string>{15,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,34},{95,58}}</string>
                <key>sourceSize</key>
                <string>{143,108}</string>
            </dict>
            <key>yifu_nan_zuoxiu_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,1265},{83,70}}</string>
                <key>offset</key>
                <string>{19,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,28},{83,70}}</string>
                <key>sourceSize</key>
                <string>{143,108}</string>
            </dict>
            <key>yifu_nan_zuoxiu_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,1180},{87,66}}</string>
                <key>offset</key>
                <string>{19,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,29},{87,66}}</string>
                <key>sourceSize</key>
                <string>{143,108}</string>
            </dict>
            <key>yifu_nan_zuoxiu_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,1248},{89,64}}</string>
                <key>offset</key>
                <string>{22,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,34},{89,64}}</string>
                <key>sourceSize</key>
                <string>{143,108}</string>
            </dict>
            <key>yifu_nv_shenti_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,466},{205,201}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,13},{205,201}}</string>
                <key>sourceSize</key>
                <string>{297,231}</string>
            </dict>
            <key>yifu_nv_shenti_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,884},{189,185}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,16},{189,185}}</string>
                <key>sourceSize</key>
                <string>{297,231}</string>
            </dict>
            <key>yifu_nv_shenti_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,669},{197,183}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,18},{197,183}}</string>
                <key>sourceSize</key>
                <string>{297,231}</string>
            </dict>
            <key>yifu_nv_shenti_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,689},{209,193}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,19},{209,193}}</string>
                <key>sourceSize</key>
                <string>{297,231}</string>
            </dict>
            <key>yifu_nv_shenti_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,687},{281,199}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{281,199}}</string>
                <key>sourceSize</key>
                <string>{297,231}</string>
            </dict>
            <key>yifu_nv_youku_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,850},{124,120}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,1},{124,120}}</string>
                <key>sourceSize</key>
                <string>{150,124}</string>
            </dict>
            <key>yifu_nv_youku_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,1167},{114,100}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{114,100}}</string>
                <key>sourceSize</key>
                <string>{150,124}</string>
            </dict>
            <key>yifu_nv_youku_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1283,229},{136,106}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{136,106}}</string>
                <key>sourceSize</key>
                <string>{150,124}</string>
            </dict>
            <key>yifu_nv_youku_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,1276},{84,84}}</string>
                <key>offset</key>
                <string>{24,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,29},{84,84}}</string>
                <key>sourceSize</key>
                <string>{150,124}</string>
            </dict>
            <key>yifu_nv_youxiu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,1303},{87,71}}</string>
                <key>offset</key>
                <string>{-40,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,48},{87,71}}</string>
                <key>sourceSize</key>
                <string>{197,127}</string>
            </dict>
            <key>yifu_nv_youxiu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,687},{73,65}}</string>
                <key>offset</key>
                <string>{-50,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,51},{73,65}}</string>
                <key>sourceSize</key>
                <string>{197,127}</string>
            </dict>
            <key>yifu_nv_youxiu_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,1315},{77,75}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,29},{77,75}}</string>
                <key>sourceSize</key>
                <string>{197,127}</string>
            </dict>
            <key>yifu_nv_youxiu_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,1181},{103,69}}</string>
                <key>offset</key>
                <string>{-43,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,53},{103,69}}</string>
                <key>sourceSize</key>
                <string>{197,127}</string>
            </dict>
            <key>yifu_nv_youxiu_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,1315},{83,75}}</string>
                <key>offset</key>
                <string>{-49,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,52},{83,75}}</string>
                <key>sourceSize</key>
                <string>{197,127}</string>
            </dict>
            <key>yifu_nv_zuoku_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,1181},{106,102}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,18},{106,102}}</string>
                <key>sourceSize</key>
                <string>{146,128}</string>
            </dict>
            <key>yifu_nv_zuoku_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1283,367},{104,96}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,13},{104,96}}</string>
                <key>sourceSize</key>
                <string>{146,128}</string>
            </dict>
            <key>yifu_nv_zuoku_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,1073},{130,92}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,22},{130,92}}</string>
                <key>sourceSize</key>
                <string>{146,128}</string>
            </dict>
            <key>yifu_nv_zuoku_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1241,1190},{84,84}}</string>
                <key>offset</key>
                <string>{-24,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,30},{84,84}}</string>
                <key>sourceSize</key>
                <string>{146,128}</string>
            </dict>
            <key>yifu_nv_zuoxiu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1169,1180},{83,70}}</string>
                <key>offset</key>
                <string>{19,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,28},{83,70}}</string>
                <key>sourceSize</key>
                <string>{143,108}</string>
            </dict>
            <key>yifu_nv_zuoxiu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,947},{79,58}}</string>
                <key>offset</key>
                <string>{29,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,39},{79,58}}</string>
                <key>sourceSize</key>
                <string>{143,108}</string>
            </dict>
            <key>yifu_nv_zuoxiu_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,1314},{77,76}}</string>
                <key>offset</key>
                <string>{-29,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{77,76}}</string>
                <key>sourceSize</key>
                <string>{143,108}</string>
            </dict>
            <key>yifu_nv_zuoxiu_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1269},{95,70}}</string>
                <key>offset</key>
                <string>{21,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,30},{95,70}}</string>
                <key>sourceSize</key>
                <string>{143,108}</string>
            </dict>
            <key>yifu_nv_zuoxiu_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,1314},{83,76}}</string>
                <key>offset</key>
                <string>{30,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,32},{83,76}}</string>
                <key>sourceSize</key>
                <string>{143,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>itemtool.pvr.ccz</string>
            <key>size</key>
            <string>{1392,1392}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c9a9827df9fa3ebdae5f24e18edab8a0$</string>
            <key>textureFileName</key>
            <string>itemtool.pvr.ccz</string>
        </dict>
    </dict>
</plist>
